* {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    text-align: center;
    border-radius: 12px;
}

tr {
    width: 100%;
}

tr:nth-child(1) {
    background-color: rgb(15, 38, 91);
    color: white;
}

tr:nth-child(3) {
    background-color: rgb(15, 38, 91);
    color: white;
}